<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS読み込み -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/user/signup.css}">

<!-- JS読み込み -->
<script th:src="@{/webjars/jquery/jquery.mim.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<title th:text="#{user.signup.title}"></title>
</head>
<body class="bg-light">
		<!-- formクラス作成してデータ入力→登録 -->
  <form action="/user/signup" method="POST" class="form-signup" th:object="${signupForm}">
  <div class="text-center">
    <h2 class="app-title">ConditionHack App</h2>
    <h2 class="text-center" th:text="#{user.signup.title}">ユーザー登録</h2>
  </div>
    <!-- ユーザーID -->
    <div class="form-group">
      <label for="userId" th:text="#{userId}">ユーザーID</label>
      <input type="text" class="form-control" th:field="*{userId}" th:errorclass="is-invalid">
      <div class="invalid-feedback" th:errors="*{userId}"></div>
    </div>
    
    <!-- パスワード -->
    <div class="form-group">
      <label for="password" th:text="#{password}">パスワード</label>
      <input type="text" class="form-control" th:field="*{password}" th:errorclass="is-invalid">
      <div class="invalid-feedback" th:errors="*{password}"></div>
    </div>

    <!-- ユーザー名 -->
    <div class="form-group">
      <label for="userName" th:text="#{userName}">ユーザー名</label>
      <input type="text" class="form-control" th:field="*{userName}" th:errorclass="is-invalid">
      <div class="invalid-feedback" th:errors="*{userName}"></div>
    </div>

    <!-- 誕生日 -->
    <div class="form-group">
      <label for="birthday" th:text="#{birthday}">誕生日</label>
      <input type="date" class="form-control" th:field="*{birthday}" placeholder="yyyy/MM/dd" th:errorclass="is-invalid">
      <div class="invalid-feedback" th:errors="*{birthday}"></div>
    </div>
    <!-- 年齢 -->
    <div class="form-group">
      <label for="age" th:text="#{age}">年齢</label>
      <input type="text" class="form-control" th:field="*{age}" th:errorclass="is-invalid">
      <div class="invalid-feedback" th:errors="*{age}"></div>
    </div>
    <!-- 性別 -->
    <div class="form-group">
      <div th:each="item :${genderMap}" class="form-check-inline">
        <input type="radio" class="form-check-input" th:value="${item.value}" th:field="*{gender}" th:errorclass="is-invalid">
        <label class="form-check-label" th:text="${item.key}"></label>
        <div class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
      </div>
    </div>
    <!-- 地域登録 -->
    <div class="form-group">
      <label for="pet-select">居住地域を選択して下さい。</label><br>
      <select id="singleSelec" name="regionMaps" >
        <option value="">----</option>
        <option th:each="item : ${regionMap}" th:value="${item.value}" th:text="|${item.value}.${item.key} |"></option>
      </select>
    </div>
    
    <!-- 管理者登録 -->
    <!-- <div class="form-group">
      <div th:each="items :${roleMap}" class="form-check-inline">
        <input type="radio" class="form-check-input" th:value="${items.value}" th:field="*{role}">
        <label class="form-check-label" th:text="${items.key}"></label>
      </div>
    </div> -->
    <!-- 登録ボタン -->
    <input type="submit" th:value="#{user.signup.btn}" class="btn btn-primary w-100 mt-3">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  </form>

</body>
</html>