<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS読み込み -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/user/signup.css}">

<!-- JS読み込み -->
<script th:src="@{/webjars/jquery/jquery.mim.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<title>新規ユーザー登録画面</title>
</head>
<body class="bg-light">
		<!-- formクラス作成してデータ入力→登録 -->
  <form action="/user/signup" method="POST" class="form-signup" th:object="${signupForm}">
  <div class="text-center">
  	<h2 class="app-title">ConditionHack App</h2>
  	<h2 class="text-center">ユーザー登録</h2>
   </div>
    <!-- ユーザーID -->
    <div class="form-group">
      <label for="userId" >ユーザーID</label>
      <input type="text" class="form-control" th:field="*{userId}">
    </div>
    
    <!-- パスワード -->
    <div class="form-group">
      <label for="password" >パスワード</label>
      <input type="text" class="form-control" th:field="*{password}">
    </div>

    <!-- ユーザー名 -->
    <div class="form-group">
      <label for="userName" >ユーザー名</label>
      <input type="text" class="form-control" th:field="*{userName}">
    </div>

    <!-- 誕生日 -->
    <div class="form-group">
      <label for="birthday">誕生日</label>
      <input type="text" class="form-control" th:field="*{birthday}" placeholder="yyyy/MM/dd">
    </div>
    <!-- 年齢 -->
    <div class="form-group">
      <label for="age" >年齢</label>
      <input type="text" class="form-control" th:field="*{age}">
    </div>
    <!-- 性別 -->
    <div class="form-group">
      <div th:each="item :${genderMap}" class="form-check-inline">
        <input type="radio" class="form-check-input" th:value="${item.value}" th:field="*{gender}">
        <label class="form-check-label" th:text="${item.key}"></label>
      </div>
    </div>
    
    <!-- 管理者登録 -->
    <div class="form-group">
      <div th:each="items :${roleMap}" class="form-check-inline">
        <input type="radio" class="form-check-input" th:value="${items.value}" th:field="*{role}">
        <label class="form-check-label" th:text="${items.key}"></label>
      </div>
    </div>
    <!-- 登録ボタン -->
    <input type="submit" value="ユーザー登録" class="btn btn-primary w-100 mt-3">
  </form>

</body>
</html>