<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.UserMapper">

<!-- マッピング定義(ユーザー)-->
<resultMap type="com.example.model.MUser" id="user">
	<id column="user_id" property="userId"/>
	<result column="password" property="password"/>
	<result column="user_name" property="userName"/>
	<result column="birthday" property="birthday"/>
	<result column="age" property="age"/>
	<result column="gender" property="gender"/>
	<result column="role" property="role"/>
	<collection property="dataList"  ofType="com.example.model.UData">
		<id column="user_id" property="userId"/>
		<id column="data_date" property="dataDate"/>
		<result column="condition" property="condition"/>
		<result column="weight" property="weight"/>
		<result column="sleep_time" property="sleepTime"/>
		<result column="kcal" property="kcal"/>
	</collection>
</resultMap>

<!-- マッピング定義（データ情報） -->
<!-- <resultMap type="com.example.model.UData" id="data">
	<id column="user_id" property="userId"/>
	<id column="data_date" property="dataDate"/>
	<result column="condition" property="condition"/>
	<result column="weight" property="weight"/>
	<result column="sleep_time" property="sleepTime"/>
	<result column="kcal" property="kcal"/>
</resultMap> -->

<!-- マッピング定義（ユーザーゴール） -->
<!-- <resultMap type="com.example.model.UGoal" id="ugoal">
	<id column="user_id" property="userId" />
	<result column="goal_weight" property="goalWeight"/>
	<result column="goal_date" property="goalDate"/>
</resultMap> -->


<!-- ユーザー1件登録 -->
<insert id="insertOne">
	INSERT INTO m_user(
		user_id, password, user_name, 
		birthday, age, gender, role
	) VALUES(
		#{userId}, #{password}, #{userName}, 
		#{birthday}, #{age}, #{gender}, #{role}
		)
</insert>

<!-- ユーザー全件検索 -->
<select id="findMany" resultType="MUser">
	SELECT
		*
	FROM
		m_user
	<where>
		<if test="userId != null">
			user_id like #{userId}
		</if>
		<if test="userName != null">
			AND user_name like #{userName} 
		</if>
	</where>
</select>

<!-- ユーザー1件検索 -->
<select id="findOne" resultMap="user">
	SELECT
		m_user.user_id,
		m_user.password,
		m_user.user_name,
		m_user.birthday,
		m_user.age,
		m_user.gender,
		m_user.role,
		u_data.user_id,
		u_data.data_date,
		u_data.condition,
		u_data.weight as data_weight,
		u_data.sleep_time as data_sleepTime,
		u_data.kcal as data_kcal
	FROM 
		m_user
	LEFT JOIN 
		u_data
	ON 
		m_user.user_id = u_data.user_id
	WHERE
		m_user.user_id = #{userId}
</select>

<update id="updateOne" >
	UPDATE
		m_user
	SET
		password = #{password},
		user_name = #{userName}
	WHERE
		user_id = #{userId}	
</update>

<delete id="deleteOne">
	DELETE FROM
		m_user
	WHERE
		user_id = #{userId}
</delete>



</mapper>